.show-image {
  width: 500px;
}

.book-form {
  width: 300px;
  /* height: 400px; */
  justify-self: flex-end;
  padding: 10px;
  border: 7px solid gold;
  box-shadow: 2px 2px 3px grey;
  margin: 30px;
  margin-top: 196px;
  color: black;
  /* background: cornflowerblue; */
  background-color: transparent;
  background: border-box;
}

.no-requests {
  margin:auto;

}

.details-div {
  border: 4px solid white;
}
