
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fas fa-wind"></i></a>
    <a href="#"><i class="fas fa-tint"></i></a>
    <a href="#"><i class="fas fa-fire-alt"></i></a>
    <a href="#"><i class="fas fa-bolt"></i></a>
    <a href="#"><i class="fas fa-globe-americas"></i></a>
  </div>
  <div class="footer-copyright">
    In partnership with the Avengers and the Justice League of America
  </div>
</div>
