
.nav-power-search {
display: flex;
align-items: center;
justify-content: center;
  form {
    display: flex;
  }
z-index: 5000;
}
.nav-search-form-input {
  width: 400px;
  height: 40px;
}

.hidden {
  display: none;
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: .6s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.margin-add {
  margin-top: 50px;
}
