@import url('https://fonts.googleapis.com/css2?family=Zen+Antique+Soft&display=swap');

.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.sticky-nav {
  position: fixed;

  z-index: 100;
  width: 100%
}

.navbar-text {
  display: inline-block;
  margin: 0px -14px;
  font-family: 'Zen Antique Soft', serif;
}
