.search-form-input {
  // width: 300px;

}

.power-search {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 600px;
  top: 280px;
  right: 300px;

  form {
    display: flex;
  }

  z-index: 5000;
}

.search-form-input {
  width: 400px;
  font-size: 20px;
}